@import "hover-effects";

.mode__flex {
    display: flex;

    &--column {
        flex-direction: column;
    }
}

.mode__center {
    justify-content: center;
}


.mode__text {

    &--left {
        text-align: left;
    }

    &--center {
        text-align: center;
    }

    &--right {
        text-align: right;
    }

    &--white {
        color: $colors--background;
    }

    &--black {
        color: $colors--typography;
    }

}




@include create-y-paddings();
@include create-y-margins();
