@mixin imgProps() {
    img {
        position: absolute;
        object-fit: cover;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        z-index: -1;
        height: 662px;
    }
}

.background {
    &--grey {
        position: absolute;
        left: 0;
        right: 0;
        top: 1236px;
        width: 100%;
        z-index: -1;
        height: 1920px;
        background-color: #F5F7F9;
        display: none;
        @include breakpoint-down(md) {
            top: 1376px;
            height: 1800px;
        }

        @include breakpoint-down(sm) {
            display: inherit;
        }

        @include breakpoint-down(xss) {
            height: 1960px;
        }
    }
}

#background-img {
    @include imgProps;

    @include breakpoint-down(xs) {
        display: none;
    }
}

#background-img-tablet {
    display: none;
    @include imgProps;

    @include breakpoint-down(xs) {
        display: block;
    }
}

#background-img-min {
    display: none;
    @include imgProps;

    @include breakpoint-down(xss) {
        display: block;
    }
}


#background-img-iphone {
    display: none;
    @include imgProps;

    @include breakpoint-down(iphone) {
        display: block;
    }
}
