.list-content {
    list-style: none;
    padding-left: 0;

    li {

        border-radius: 16px;
        display: flex;
        height: 66px;
        align-items: center;
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 24px;
        }

        &.active {
            .list-content--text,
            .list-content--icon {
                color: $colors--first;
            }
        }

        .list-content--text {
            color: #A7A7A7;
            min-width: 500px;

            @include breakpoint-down(md) {
                min-width: 400px;
            }

            @include breakpoint-down(sm) {
                min-width: auto;
                margin: 2px;
            }
        }

        @include breakpoint-down(sm) {
            height: 80px;
        }

        @include breakpoint-down(iphone) {
            height: 100px;
        }


    }
}

.content__best {
    .list-content li {
        background: transparent;
    }
}

.simple__list--ul {

    .list-content {
        &--icon {
            font-size: 40px;
            font-weight: bold;
            padding: 16px 32px;
            color: #D8D8D8;
        }
    }
}

.best__list--ul {
    .list-content {
        &--icon {
            padding: 0 16px;

            img {
                margin-top: 4px;
            }
        }
    }
}


.simple__list .simple__list--ul li,
.content__best--first  .best__list--ul li {
    background: #F5F7F9;
}


