%arrow-default {
    top: 40%;
    border: 2px solid $colors__border--light;
    background-color: $colors--background;
    fill: $colors__border--light;
}

.content__products {

    .splide__arrow--prev {
        left: -1em;
        @extend %arrow-default;

    }

    .splide__arrow--next {
        right: -1em;
        @extend %arrow-default;
    }

    li.splide__slide {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .splide__slide {
        text-align: center;
        transition: all 400ms;
    }


    .splide__slide.is-active {

        position: relative;
    }
}

.content__certificates {

    .splide__pagination {
        bottom: -1.5rem;
    }
}