.content__products {
    .splide__arrow--prev {
        top: -3rem !important;

    }

    .splide__arrow--next {
        bottom: -3rem !important;

    }

    li.splide__slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .splide__slide {

        text-align: center;
        transition: all 400ms;

    }


    .splide__slide.is-active {

        position: relative;
    }
}

.content__certificates {

    h2 {
        margin-bottom: 1.8rem;
    }

    .splide__pagination {
        bottom: -1.5rem;
    }
}