@mixin onHover() {

}

.card {

    &--border {
        border: 1px solid $colors__border--light;
        background-color: $colors--background;
        border-radius: 20px;
        width: 100%;
        padding: 1rem;
    }

    &__product {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 7rem;
        width: 100%;

        &--price {
            background-color: #EE1E1E;
            width: 5.5rem;
            height: 3rem;
            border-radius: 0 16px;
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            font-weight: bold;
            color: $colors--background;
            display: flex;
            justify-content: center;
            align-items: center;

            &:after {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                background-color: $colors--background;
                top: 0.2rem;
                right: 0.2rem;
                border-radius: 50%;
            }

            span {
                margin-right: 1rem;
            }
        }

        &--image {
            position: relative;
            overflow: hidden;
            border-radius: 0 0 85.5px 85.5px;

            &:after {
                content: '';
                position: absolute;
                top: 6rem;
                bottom: -0.5rem;
                left: 0;
                right: 0;
                z-index: 1;
                background: {
                    image: url("../../src/assets/images/cards/ice.png");
                    repeat: no-repeat;
                    size: cover;
                };
                transition: all 500ms;

            }

            &:hover {

                &:after {
                    transform: translateY(-0.25rem);
                }
            }
        }


        button {

            padding-left: 1.35rem;
            //padding-right: 1.35rem;

            .btn--text {

                transition: width 200ms;
                overflow: hidden;
                width: 0;
                opacity: 0;
                max-height: 1.25rem;

            }

            &:after {
                transition: all 200ms;
                left: 50%;
                transform: translate(-50%, -50%);
            }

        }


        &--description {
            padding: 1rem;
            border-radius: 8px;
            background-color: $colors--green;
            max-width: 50%;
            display: none;
            position: absolute;
            bottom: 0.5rem;
            min-width: 400px;
            font-size: 0.6rem;
            text-align: left;
            font-weight: bold;
            color: #fff;
        }


        &:hover {

            .card__product--description {
                display: block;
            }

            button {

                .btn--text {
                    width: 5rem;
                    opacity: 1;
                }

                &:after {
                    transform: translate(-150%, -50%);
                    left: 100%;
                }

            }
        }
    }


    h2 {
        margin-top: 0.9rem;
    }

    p {
        margin-top: 0;
        padding: 0.9rem 2.5rem;
        font-size: 0.6rem;
        border: 1px solid #828282;
        border-radius: 8px;
    }

    &__title {
        text-align: center;
    }

}

