@import "settings";
@import "presentation";

.swiper-card-account {
    img {
        width: 100%;
    }

    .swiper-slide {
        width: 100%;
    }
}


.swiper-card-compact {

    .compact--text {
        color: #A7A7A7;
        margin-left: 55px;
        margin-top: 26px;
    }


    .card {
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        box-sizing: border-box;
        border-radius: 16px;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        picture {
            align-self: center;
            margin-top: auto;
            margin-bottom: auto;
        }

        img {
            height: auto;
            width: 100%;
        }

    }



    .card--one {
        width: 536px;

        img {
            width: 486px;
            height: 304px;

            @include breakpoint-down(sm) {
                width: 435px;
                height: 262px;
            }
        }


    }

    .card--two {
        width: 536px;
        img {
            width: 486px;
            height: 304px;
        }
    }

}