@mixin btn-image($url) {

  &:after {
    content: '';
    background-image: $url;
    width: $btn-icon__size;
    height: $btn-icon__size;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin btn-on-hover($background, $color: $colors--background) {

  &:hover {
    color: $color;
    background-color: $background;
  }

}