@mixin create-y-paddings() {
    $padding: 0.5rem;
    @for $i from 1 through 8 {
      $padding: $padding + 1;
        .mode__pt--#{$i} {
            padding-top: $padding;
        }

        .mode__pb--#{$i} {
            padding-bottom: $padding;
        }
    }
}

@mixin create-y-margins() {
    $margin: 0.5rem;
    @for $i from 1 through 10 {
        $margin: $margin + 0.5;
        .mode__my--#{$i} {
            margin-top: $margin;
            margin-bottom: $margin;
        }

        .mode__mb--#{$i} {
            margin-bottom: $margin;
        }

        .mode__mt--#{$i} {
            margin-top: $margin;
        }


    }
}

