@mixin create-padding-top() {
    $padding: 0.5rem;
    @for $i from 1 through 6 {
      $padding: $padding + 1;
        .mode__pt--#{$i} {
            padding-top: $padding;
        }
    }
}

@mixin create-y-margins() {
    $margin: 0.5rem;
    @for $i from 1 through 5 {
        $margin: $margin + 0.5;
        .mode__my--#{$i} {
            margin-top: $margin;
            margin-bottom: $margin;
        }
    }

}