* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

html {
  height: 100vh;
  position: relative;
  font-size: 18px;
}

body {
  color: $colors--typography;
  background-color: $colors--background;
}

a {
  color: $colors--typography;
  text-decoration: none;
}

picture {
  img {
    height: 100%;
  }
}

input, textarea {
  padding: 0.7rem 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
}

