* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

html {
  height: 100vh;
  position: relative;
  font-size: 18px;
}

body {
  color: $colors--typography;
  background-color: $colors--background;
}

picture {
  img {
    height: 100%;
  }
}