button {
  color: $colors--typography;
  border-radius: 1.6rem;
  font-size: 1rem;
  padding: $btn-padding-horizontal $btn-padding-vertical;
  cursor: pointer;
  border: 1px solid;

}

.btn {

  &__square {
    border-radius: 8px;
    padding: 0.5rem 1.8rem;
  }


  &__first {
    color: $colors--background;
    background-color: $colors--first;

    @include btn-on-hover($colors--background, $colors--typography);

  }


  &__second {
    background-color: transparent;
    border-color: $colors--background;
    color: $colors--background;

    @include btn-on-hover($colors--green_salad);
  }


  &__img {

    position: relative;
    padding-right: #{$btn-padding-horizontal + 2rem};

    &--right-arrow {
      @include btn-image($btn-icon__path--right-arrow);

      &:after {
        right: 12%;
      }

      &:hover {
        @include btn-image($btn-icon__path--right-arrow_black);
      }


    }


    &--bascket {
      min-height: 2.5rem;
      @include btn-image($btn-icon__path--bascket);

      @include btn-on-hover($colors--red);

    }


    &--cart {
      color: $colors--typography;
      background-color: transparent;
      border-color: $colors__border--grey;
      @include btn-image($btn-icon__path--cart_black);

      &:after {
        right: 10%;
      }

      @include btn-on-hover($colors--green_salad, $colors--background);

      &:hover{
        border-color: $colors--green_salad;
        @include btn-image($btn-icon__path--cart);
      }
    }

  }

}

