$btn-padding-horizontal: 1rem;
$btn-padding-vertical: 1.5rem;

$btn-icon__size: 24px;
$btn-icon__path--right-arrow: url("../../src/assets/icons/arrow-right-round.svg");
$btn-icon__path--bascket: url("../../src/assets/icons/card/bascket.svg");