$colors--background: #fff;
$colors--typography: #282828;

$colors--green: #6EC3A6;
$colors--green_salad: #6FCF97;
$colors--red: #EB5757;

$colors--first: #FB983A;


$colors__border--grey: #828282;
$colors__border--grey_medium: #C4C4C4;
$colors__border--light: #DADADA;

$colors__footer--dark: #515151;

