$colors--background: #fff;
$colors--typography: #282828;

$colors--green: #0AB02E;

$colors--first: #FB6816;


$colors__border--grey: #828282;
$colors__border--light: #DADADA;


$colors__hover-container: #0AB02E;