.content {

    &__top {

        > * {
            max-width: calc(#{(map-get($container-max-widths, "lg") / 2) - 1} - #{$container-gutter * 2});
        }

        h1 {
            font-size: 4rem;
            margin-bottom: 1rem;
        }

    }


    &__products {
        align-items: center;
        border: 1px solid $colors__border--light;
        border-radius: 32px;
        padding: 1.5rem;
        color: $colors--typography;
        background-color: $colors--background;
    }


    &__description {

        color: $colors--typography;


        h2 {
            margin-top: 0;
        }

        picture {

            img {
                width: 100%;
                object-fit: cover;
                max-height: 280px;
            }

        }

        .content--row {

            flex-direction: row-reverse;
            align-items: center;


            &:not(:last-child) {
                margin-bottom: 4rem;
            }

            &:nth-child(2n-1) {
                div:first-child {
                    margin-left: 1.8rem;
                }

            }

            &:nth-child(2n) {
                flex-direction: row;

                div:first-child {
                    margin-right: 1.8rem;
                }

            }

        }

    }


    &__certificates {

        background-color: $colors__border--light;

        h2 {
            margin-bottom: 0.5rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

    }


    &__contacts {
        background-color: $colors__first;
        padding-bottom: 2.5rem;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        button {
            max-width: 200px;
            margin-top: 1rem;
        }
    }

}