.content {

    &__top {

        height: 546px;

        h1 {
            font-size: 2.2rem;
            margin-top: 0;
            margin-bottom: 24px;
        }

        p {
            margin-bottom: 24px;
        }

        .big-picture {
            display: flex;
            justify-content: flex-end;

            .lemon-bottle {

                position: relative;

                &:first-child {
                    transform: translate(-0.5rem, 1rem);
                }

                > div {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }

        @include breakpoint-down(lg) {
            padding-top: 124px;
        }

        @include breakpoint-down(sm) {
            padding-top: 115px;
            height: 576px;
        }

        @include breakpoint-down(xss) {
            height: 606px;
        }


        @include breakpoint-down(iphone) {
            h1 {
                font-size: 24px;
            }
        }


    }

    &__products {
        align-items: center;
        border: 1px solid $colors__border--light;
        border-radius: 32px;
        padding: 1.5rem;
        color: $colors--typography;
        background-color: $colors--background;
    }

    &__presentation {
        padding-top: 32px;
        padding-bottom: 32px;
        
        @include breakpoint-down(sm) {
            padding-bottom: 24px;
        }
    }


    &__description {

        color: $colors--typography;



        .swiper-wrapper {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
        }

        .swiper-slide {
            height: 210px;
            width: 350px;
            margin: 12px;


        }

        .advantages__card {
            position: relative;
            height: 210px;
            width: 350px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
            border-radius: 16px;
            display: flex;
            align-items: center;

            &--text {
                padding-left: 32px;
                z-index: 2;
            }

            .card--title {
                font-weight: bold;
                padding-bottom: 8px;
            }

            .card--text {
                width: 90%;
            }


            &--img {
                height: 140px;
                min-width: 100px;

                picture {
                    position: absolute;
                    right: 0;
                    left: 60%;
                }
            }
        }


    }

    &__account {

        overflow: hidden;
        border: 1px solid #EEEEEE;
        box-sizing: border-box;
        border-radius: 16px;
        padding-left: 24px;
        background-color: white;

        .swiper-card-account {
            overflow: hidden;
        }

        @include breakpoint-down(sm) {

                padding-left: 20px;

        }

        @include breakpoint-down(xs) {

                padding-left: 0;

        }
    }

    &__compact {

        .swiper-card-compact {
            overflow: hidden;
            height: 512px;
        }

        .swiper-wrapper {
            height: 100%;
            justify-content: space-between;

            .swiper-slide {
                @include breakpoint-down(md) {
                    margin-right: 27px;
                }
            }
        }

    }

    &__setting {

    }

    &__simple {
        display: flex;
        background: #FFFFFF;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
        border-radius: 16px 0 16px 16px;
        padding-right: 32px;


        .simple__image {
            height: 540px;
            width: 604px;
            transform: translateY(-44px);

            img {
                height: 584px;
                object-fit: cover;
            }

            @include breakpoint-down(md) {
                img {
                    width: 100%
                }
            }

            @include breakpoint-down(xs) {
                display: none;
            }

        }

        .simple__list {
            position: relative;

            &--text {
                h2 {
                    margin-bottom: 8px;
                }

                .text__content {
                    font-weight: normal;
                }
            }

            &:before {
                content: '';
                background: #27AE60;
                border-radius: 16px 16px 0 0;
                position: absolute;
                width: calc(100% + 30px);;
                height: 9px;
                top: 0;

                @include breakpoint-down(sm) {
                    width: 100%;
                }

                @include breakpoint-down(xss) {

                }
            }
        }

        button {
            width: 137px;
            height: 57px;
            margin-bottom: 16px;
        }

        @include breakpoint-down(xss) {
            padding-right: 16px;
        }
    }

    &__best {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 24px;
        position: relative;

        @include breakpoint-down(md) {
           margin-top: 54px;
        }

        @include breakpoint-down(sm) {
            display: grid;
            grid-template-columns: 1fr 0.7fr;
        }

        @include breakpoint-down(xs) {
            display: block;
            max-width: 100%;
        }

        .best__list {
            max-width: 548px;

            @include breakpoint-down(md) {
                max-width: 450px;
            }

            @include breakpoint-down(sm) {

                h2 {
                    margin-bottom: 0;
                }
            }
        }

        .best__image {
            width: 558px;
            height: 469px;


            img {
                height: 100%;
                object-fit: cover;
            }

            @include breakpoint-down(md) {

                width: 451px;
                height: 378px;

                img {
                    width: 100%
                }
            }

            @include breakpoint-down(sm) {
                width: 450px;
                height: 378px;
                position: absolute;
                right: 0;
                z-index: -1;
            }

            @include breakpoint-down(xs) {
                display: none;
            }

            @include breakpoint-down(xss) {
                display: none;
            }

        }
    }

    &__faq {
        display: flex;

        @include breakpoint-down(xs) {
            position: relative;
        }

        .simple__image {
            width: 474px;
            position: relative;

            @include breakpoint-down(md) {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            @include breakpoint-down(sm) {
                display: none;
            }


            picture {

                position: absolute;
                top: -15%;

                img {
                    width: 474px;
                    height: 502px;

                    @include breakpoint-down(md) {
                        width: 442px;
                        height: 452px;
                    }

                }

                @include breakpoint-down(md) {
                    top: 0;
                }

                @include breakpoint-down(sm) {
                    display: none;
                }
            }
        }

        .simple__list {
            padding-left: 235px;

            @include breakpoint-down(md) {
                padding-left: 0;
                max-width: 454px;
            }

            @include breakpoint-down(sm) {
                max-width: 100%;
            }
        }


        .background-line {
            position: absolute;
            left: 0;
            right: 0;
            transform: translateY(-28px);
            height: 489px;
            background: #F5F7F9;
            z-index: -1;


            @include breakpoint-down(sm) {
                height: 445px;
            }

            @include breakpoint-down(xs) {
                height: 100%;
            }


        }

    }

    &__certificates {

        background-color: $colors__border--light;

        h2 {
            margin-bottom: 0.5rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

    }


    &__contacts {
        background-color: $colors__footer--dark;
        padding-top: 0.5rem;
        border-top: 0.5rem solid $colors__border--grey_medium;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        button {
            max-width: 200px;
            align-self: flex-end;
        }
    }

}