footer {
    background-color: $colors--typography;
    color: $colors--background;
    padding: 60px 0;
    font-size: 14px;

    .footer__menu {
        display: flex;
        width: 665px;
        justify-content: space-between;
    }

    .logo {
        height: 34px;
    }


    ul {
        list-style: none;

        li {
            margin-bottom: 24px;
        }
    }


}