header {

    .header__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 56px;

        .logo {
            height: 36px;
            margin-top: -8px;
        }

        @include breakpoint-down(xss) {
            margin-top: 26px;
        }
    }

    nav {

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding-left: 0;

            li {

                position: relative;
                list-style: none;
                margin: 0 1rem;

                &.active {

                    font-weight: bold;
                    //&:after {
                    //    content: '';
                    //    position: absolute;
                    //    left: 0;
                    //    right: 0;
                    //    top: 100%;
                    //    height: 2rem;
                    //
                    //    background: {
                    //        repeat: no-repeat;
                    //        image: url("../../src/assets/images/footer/line-indicator.svg");
                    //    };
                    //}
                }
            }
        }

        @include breakpoint-down(sm) {
            display: none;
        }
    }
}